#is-completed > div{
    background-color: green;
    opacity: 70%;
}

#not-completed > div{
    background-color: red;
}

.todo{
    box-sizing: border-box;
    width: 30%;
    padding-left: .5em;
    padding-bottom: .05em;
    margin: 1em;
}
.todo h3, .todo p{
    margin: 0px;
}